*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    padding: 1rem;
}
nav{
    background-color: wheat;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 1.1rem;
}
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
}
#logo{
    width: 10px;
    height: 10px;
}